@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
}

header{
    width: 100%;
}

.header-image{
    background-image: url("../images/header.jpg");
    height: 900px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-container-uslug{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px 0;
}

.inner-uslug-text{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inner-uslug-text p{
    padding-bottom: 20px;
}

.inner-uslug-photo{
    width: 45%;
    height: 100%;
}

img {
    max-width: 100%;
  }

.inner-container-tarif{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px 0;
}

.inner-tarif-text{
    height: 100%;
    width: 60%;
    
}

.first-table{
    margin-bottom: 40px;
}

.second-table{
    width: 100%;
    height: 70%;
}

.second-table tr td{
    padding: 20px;
}


.inner-tarif-photo{
    height: 100%;
    width: 40%;
}


/* .................................................. */
.inner-container-tsitata{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("../images/tsitata.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.inner-container-tsitata p{
    width: 80%;
    text-align: center;
}


/* .................................................. */
.inner-container-clients{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 0 25px 0;
    justify-content: space-between;
}

.clients-photo{
    width: 40%;
    height: 100%;
}

.clients-text{
    width: 55%;
    height: 100%;
}

.clients-text p{
    margin-bottom: 20px;
    line-height: 2.0;
}

.clients-text p:nth-child(2n){
    margin-left: 50px;
}


/* .................................................. */
.inner-container-5{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 25px 0 25px 0;
    justify-content: space-between;
    align-items: center;
}

.inner-container5-text{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner-container5-text p{
    margin-bottom: 20px;
}

.inner-container5-photo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .................................................. */
footer{
    position: relative;
    width: 100%;
    height: 730px;
    left: 0px;
    bottom: 0px;
    background-image: url("../images/footer.png");

    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


/* .................................................. */
@media screen and (max-width: 749px) {

    /* .inner-container-uslug{
        flex-direction: column;
    } */

    .inner-uslug-photo {
        margin-top: 40px;
        width: 80%;
    }
/* 
    .inner-container-tarif{
        flex-direction: column;
    } */

    tr{
        display: flex;
        flex-direction: column;
    }

    .inner-tarif-photo{
        width: 80%;
    }

    .inner-container-clients{
        flex-direction: column;
    }

    .inner-container-uslug, .inner-container-tarif, .clients-photo, .clients-text, .inner-container-5{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inner-container-tsitata{
        font-size: 18px;
    }
    
}